################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MyUnityGame/v15
/Library
/Logs
/obj/Debug
/Temp
/Packages
/Assets
/build
/obj
/.vs
/UpgradeLog2.htm
/git
