################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MyUnityGame/v15
/Library
/Logs
/obj/Debug
/ProjectSettings
/Temp
/Packages
/ProjectSettings
/Assets
/build
/obj

