################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MyUnityGame/v15/Server/sqlite3
/Library
/Logs
/obj/Debug
/ProjectSettings
